---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import SplitLiveOps from '../components/SplitLiveOps.astro';
import SplitInstall from '../components/SplitInstall.astro';
import Connect from '../components/Connect.astro';
import StatsBand from '../components/StatsBand.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTABand from '../components/CTABand.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <FeatureGrid />
    <SplitLiveOps />
    <SplitInstall />
    <Connect />
    <StatsBand />
    <HowItWorks />
    <Pricing />
    <FAQ />
    <CTABand />
  </main>
  <Footer />
</Layout>
